<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: header (pageTitle = 'Lista quizów')">
    
</head>
<body>
    <div th:replace="fragments :: menu"></div>
    <h1>Lista quizów</h1>
    <table>
        <tr th:each="quiz : ${quizList}">
            <td th:text="${quiz.title}" />
            <td th:text="${quiz.description}" />
            <td th:text="${quiz.createDate}" />
        </tr>
    </table>
    <div th:replace="fragments :: footer"></div>

    </div>
</body>

</html>